/* *****GLOBAL***** */
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: 'Open Sans', sans-serif;
}

.clearfix {
   content: '';
   display: table;
   clear: both;
}

ul {
   list-style: none;
   display: inline-block;
}
/* Area Float */
.header-left {
   float: left;
}

.header-right {
   float: right;
}

/* Area button */
.btn {
   padding: 8px 20px;
   color: #fff;
   background-color: #0061FF;
}

/* ****** HEADER ****** */
header {
   width: 100vw;
   padding: 0 20px;
   background-color: gray;
}

header ul li {
   display: inline-block;
}

header a {
   text-decoration: none;
   color: black;
   font-size: 18px;
}

header li a {
   padding: 40px 20px 40px 20px;
   line-height: 80px;
}

/* header left section  */
.header-left {
   /* non saprei  */
}
.logo {
   vertical-align: middle;
}

/* header right section  */
.header-right {
   /* non saprei  */
}

/* ****** MAIN ****** */
/* ****** FOOTER ****** */