/* *****GLOBAL***** */
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html {
   scroll-behavior: smooth;
}

body {
   font-family: 'Open Sans', sans-serif;
   font-size: 18px;
}

.clearfix::after {
   content: '';
   display: table;
   clear: both;
}

section {
   display: block;
}

.container-70, .container-80 {
   margin: auto;
}

.container-80 {
   width: 80%;
   max-width: 1300px;
}

.container-70 {
   width: 70%;
   max-width: 1080px;
}

h2 {
   font-size: 36px;
}

h3 {
   font-size: 30px;
}

.subtitle {
   font-size: 24px;
}

ul {
   list-style: none;
   display: inline-block;
}

a {
   text-decoration: none;
   color: black;
}

.link-style {
   text-decoration: underline;
   color: #0061FF;
}

.bold {
   font-weight: bold;
}

.gray {
   color: #768490;
}

.border {
   border: 1px solid #DBDBDD;
}

/* Area Float */
.float-left {
   float: left;
}

.float-right {
   float: right;
}

/* Area button */
.btn {
   padding: 8px 20px;
   color: #fff;
   text-decoration: none;
   background-color: #0061FF;
   font-size: 20px;
}

.btn.big {
   padding: 12px 30px;
}

.btn.white {
   color: #000;
   background-color: #fff;
}

/* ****** HEADER ****** */
header {
   min-width: 1300px;
   width: 100vw;
   padding: 0 40px 0 20px;
   position: fixed;
   top: 0;
   background-color: #fff;
   z-index: 999;
}

header ul li {
   display: inline-block;
}

header li a {
   padding: 23px 20px;
   line-height: 80px;
}

header li a:hover{
   border-bottom: 5px solid #000;
}

/* header left section  */
.logo img {
   width: 155px;
   vertical-align: middle;
}

.logo {
   margin-right: 30px;
}

/* header right section  */
.header-right > a{
   margin-left: 30px;
}

/* *****JUMBOTRON****** */
.jumbotron {
   height: 710px;
   margin: 80px 0 100px 0;
   background-color: #B4D0E7;
}

.jumbotron .title {
   padding: 80px 0 30px 0;
   font-size: 65px;
}

.jumbotron-left {
   width: 30%;
}

.jumbotron-left .btn{
   margin: 30px 0 15px 0;
   display: inline-block;
}

.jumbotron-right {
   width: 70%;
}

.jumbotron-right img {
   width: 100%;
}

.jumbotron-left .arrow {
   padding: 30px 0;
   font-size: 40px;
}
/* ****** MAIN ****** */

/* Business Plane */
.business-plane::before{
   content: '';
   display: block;
   height: 80px;
}

.business-plane-top {
   margin-bottom: 30px;
}

.business-plane-top h2 {
   padding: 0 0 30px;
}

.radiobox label {
   padding-right: 20px;
}

.business-plane-center .clearfix {
   padding: 40px 0;
}

.clearfix .column {
   width: calc(100% / 3 - 20px);
}

.business-plane-center span {
   padding: 10px 0;
   display: block;
}

.column.standard {
   margin: 0 30px;
}

.column-title {
   padding: 10px 0;
   font-size: 22px;
   text-align: center;
}

.column-content {
   padding: 30px;
}

.content-description {
   height: 1100px;
}

.content-description .btn {
   padding: 12px 20px;
   display: block;
}

.content-description .border {
   width: 100px;
}

.check::before {
   content: '\2714';
   color: #0061FF;
}


.content-description .block {
   margin: 50px 0;
}

.business-plane-bottom {
   margin: 40px 0;
}

.business-plane-bottom .column-title {
   padding: 10px 0;
}

/* Find Partner */
.find-partner {
   margin-bottom: 40px;
}

.find-partner img {
   width: 55%;
}

.find-partner .caption {
   width: 40%;
   padding-top: 40px;
}

.find-partner .caption h3 {
   margin: 20px 0;
}

.find-partner .caption p {
   margin: 0 0 40px 0;
}

/* Business Explain */
.business-explain {
   margin-bottom: 40px;
}

.business-explain-top {
   padding: 50px 0;
}

.business-explain-bottom .row {
   margin-bottom: 80px;
}

.business-explain-bottom .box h3{
   padding-bottom: 40px;
}

.business-explain-bottom .row .box{
   width: calc(100% / 3 - 20px);
}

.business-explain-bottom .row .box:nth-child(2) {
   margin: 0 30px;
}

.box .bg {
   height: 200px;
   margin-bottom: 20px;
   background-position: center;
   background-size: cover;
}

.box .bg.img1 {
   background-image: url('../img/business-feature-coordinate-it.png');
}

.box .bg.img2 {
   background-image: url('../img/business-feature-integrations-it.png');
}

.box .bg.img3 {
   background-image: url('../img/business-feature-multi-device.png');
}

.box .bg.img4 {
   background-image: url('../img/business-feature-security.png');
}

.box .bg.img5 {
   background-image: url('../img/business-feature-send-files-it.png');
}

.box .bg.img6 {
   background-image: url('../img/business-feature-switching-tools.png');
}


/* Team Partner */
.team-partner {
   margin-bottom: 50px;
}

.team-partner-top {
   padding: 70px 0;
}

.team-partner-top h2 {
   width: 60%;
   margin-bottom: 40px;
}

.team-partner-bottom {
   margin-bottom: 50px;
   background-color: #B4D0E7;
}

.team-partner-bottom .row .square {
   width: 30%;
   height: 0;
   padding-bottom: calc(99% / 3);
   position: relative;
}

.team-partner-bottom .row .square-overflow {
   width: 40%;
   height: 32.5vw;
   background-color: #F5F5F5;
}

.row .square .box-partner {
   width: 50%;
   height: 50%;
   padding: 50px;
   position: absolute;
   filter: invert(1);
}

.row .square-overflow {
   overflow: auto;
}

.row .square-overflow .container-80 {
   margin: 50px auto;
}

.row .square-overflow img {
   width: 250px;
}

.row .square-overflow .border {
   width: 100px;
   height: 0;
   margin: 50px 0;
}

.row .square-overflow p {
   padding-bottom: 50px;
}

.up {
   top: 0;
}

.dx {
   right: 0;
}

.sx {
   left: 0;
}

.down {
   bottom: 0;
}

.designit {
   background-color: #5D2C64;
}

.arizona {
   background-color: #9EF7D3;
}

.florida {
   background-color: #E26C31;
}

.topps {
   background-color: #06E3E2;
}

.bicycle {
   background-color: #2AFDE0;
}

.hearst {
   background-color: #4B2F18;
}

.lonely {
   background-color: #F2DB7E;
}

.clear-channel {
   background-color: #0127CF;
}

.team-partner-bottom .container-70 {
   padding: 100px 0;
}

.team-partner-bottom .container-70 h2 {
   width: 50%;
   color: #61082C;
}

.team-partner-bottom .container-70 h2 {
   width: 40%;
}

/* FAQ section  */
.faq {
   margin: 50px auto;
}

.faq h3 {
   padding: 30px 0;
}

.faq .border {
   margin: 30px auto;
}

.faq .ask a {
   display: block;
}

.faq .ask span {
   padding: 0 30px;
}

.faq .answer {
   margin: 30px 0 0 0;
   color: #72808D;
   display: none;
}

.ask a span.hidden {
   display: none;
}

.faq .ask:hover .answer {
   display: block;
}

.faq .ask a:hover .hidden {
   display: block;
}

.faq .ask a:hover .visible {
   display: none;
}

/* ****** FOOTER ****** */
